
@{
    ViewBag.Title = "GooglePlusAndTwitterView";
}

<h2>GooglePlusAndTwitterView</h2>

@for (var i = 0; i < (int)ViewData["PostsCount"]; i++)
{<img src="@ViewData["Avatar"+i+0]" /> @ViewData["Username" + i + 2]
    <h1><b>@ViewData["Date" + i + 1]</b></h1>
    <h3>@ViewData["Content" + i + 3]</h3>
    <br /><img src="@ViewData["Image"+i+4]" />
    <h4>@ViewData["PostSource" + i + 5]</h4>
    <hr />
}

