
@{
    ViewBag.Title = "TwitterCallback";
}

<h2>TwitterCallback</h2>
<h1>Welcome @TempData["Name"]</h1>
<br />
<img src="@TempData["Userpic"]" style="width:100px;height:100px;" />
@TempData["Status"]<br />
@TempData["access"] <br />
@TempData["access secret"]


